.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.SearchBar input {
  width: 20rem;
  padding: 0.5rem 0;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  padding: .5rem 2rem;
  border-radius: 50px;
  background-color: rgba(108, 65, 233, .7);
  border: none;
  color: #fff;
}

.SearchButton:hover {
  background-color: white;
  color: #6c41ec;
}

@media (max-width: 768px) {
  .SearchBar {
    margin: 1rem 0;
  }

  .SearchBar input {
    width: 15rem;
    font-size: 0.8rem;
  }

  .SearchButton {
    padding: .5rem 1rem;
  }
}