.SearchResults {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  padding: 2rem;
  background-color: rgba(24, 47, 152, 0.7);
  border-radius: 30px;
}

.SearchResults__title {
  display: flex;
  justify-content: center;
  font-size: 1.55rem;
  color: #fff;
  margin-top: 10px;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media (max-width: 768px) {
  .SearchResults {
    padding: 0.5rem;
    border-radius: 14px;
  }

  .SearchResults__title {
    font-size: 1rem;
  }
}